<div id="dashboard">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F7F6F4;">
        <a class="navbar-brand">
            <img src="/assets/foxlogonobg.png" width="30" height="30" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">User Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chooseGame">Choose a Game</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>My Dashboard</h1>
        <h2 id="dashboardUsernameDisplay">User Name</h2>
        {{!-- user id input --}}
        <a type="button" class="btn btn-lg btn-block" role="button" href="/chooseGame">Start New Game</a>
        <a type="button" class="btn btn-lg btn-block" role="button" href="/adminGameList" id="adminOnlyButton">Edit/Add
            Game</a>

        <h1 class="myGames">My Games</h1>
        <div class="row">
            <div class="col-sm-6 card-deck">
                <h2>Open</h2>
                {{!-- static data - to be updated --}}
                <div class="card text-white mb-3" style="max-width: 18rem; background-color: #2a8e9d;">
                    <div class="card-body">
                        <h4 class="card-title chooseGameCardTitles">Game 1</h4>
                        <span class="badge openGameBadge">4.5 hrs left</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100">4/10</div>
                        </div>
                    </div>
                </div>

                <div class="card text-white mb-3" style="max-width: 18rem; background-color: #ff5245;">
                    <div class="card-body">
                        <h4 class="card-title chooseGameCardTitles">Game 3</h4>
                        <span class="badge openGameBadge">20 mins left</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">8/10</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 card-deck">
                <h2>Closed</h2>

                <div class="card text-white mb-3" style="max-width: 18rem; background-color: #2a8e9d;">
                    <div class="card-body">
                        <h4 class="card-title chooseGameCardTitles">Game 2</h4>
                        <span class="badge closedGameBadge">114 pts</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100">6/10</div>
                        </div>
                    </div>
                </div>

                <div class="card text-white mb-3" style="max-width: 18rem; background-color: #ff5245;">
                    <div class="card-body">
                        <h4 class="card-title chooseGameCardTitles">Game 4</h4>
                        <span class="badge closedGameBadge">175 pts</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">10/10</div>
                        </div>
                    </div>
                </div>

                <div class="card text-white mb-3" style="max-width: 18rem; background-color: #ffc938;">
                    <div class="card-body">
                        <h4 class="card-title chooseGameCardTitles">Game 5</h4>
                        <span class="badge closedGameBadge">217 pts</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">10/10</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script src="/js/dashboard.js"></script>