body{
  background-color: #F7F6F4;
  font-family: 'Open Sans Condensed', sans-serif;
}

.list-group-item {
  line-height: 2.5;
}

h1{
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 2.5rem;
  width: 100vh;
}

h2{
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 2rem;
  width: 100vh;
}

.chooseGameCardTitles{
  margin-bottom: 1rem;
}

.card-body{
  padding: 0.75rem
}

.chooseGameCardTime{
  padding-bottom: 0;
  margin-bottom: 0;
}

.card{
  border-radius: 15px;
}

.modal-content{
  background-color: #374050;
  color: white;
  border-radius: 15px;
}

#chooseGameSelectedGame{
  padding-top: 12rem;
}

.modal-title{
  font-size: 1.5rem;
}

.btn{
  background-color: #ff5245;
  color: white;
}

.indexCreateUserForm{
  margin-top: 3.75rem;
  border-top: inset;
}

.list-group-item{
  color: black;
}

#firstPlaceBadge{
  background-color: #ffc938;
}

#secondPlaceBadge{
  background-color: #2a8e9d;
}

#thirdPlaceBadge{
  background-color: #ff5245;
}

.pointsBadge{
  background-color: #374050;
}

.badge{
  color: white;
  padding-top: 0.75rem;
  border-radius: 20px;
  font-size: 1rem;
}

#thisUserBadge{
  background-color: #ffc938;
}

.taskBadge{
  background-color: white;
  color: #374050;
  border: 5px solid #374050;
  height: 3rem;
  width: 3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.complete{
  background-color: #374050;
  color: white;
}

.playGameTimeRemaining,
.playGameTasks,
.playGameGameScore,
.playGameLeaderboard{
  margin-bottom: 1rem;
}

#dashboardUsernameDisplay{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.openGameBadge,
.closedGameBadge{
  float: right;
}

.progress{
  clear: both;
}

.progress-bar{
  background-color: #374050;
}
